<!DOCTYPE html>
<html>
<head>
    <title>Page: src/AppModule/view/welcome/hash.phtml</title>
    <style type="text/css">
    html{
    }
    body{
        margin: 0;
        padding: 0;
        background: #e7ecf0;
        font-family: Arial, Helvetica, sans-serif;
    }
    *{
        margin: 0;
        padding: 0;
    }
    p{
        font-size: 12px;
        color: #373737;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 18px;
    }
    p a{
        color: #218bdc;
        font-size: 12px;
        text-decoration: none;
    }
    a{
        outline: none;
    }
    .f-left{
        float:left;
    }
    .f-right{
        float:right;
    }
    .clear{
        clear: both;
        overflow: hidden;
    }
    #block_error{
        width: 845px;
        height: auto;
        border: 1px solid #cccccc;
        margin: 72px auto 0;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #fff no-repeat 0 51px;
    }
    #block_error div{
        padding: 10px 10px 10px 10px;
    }
    #block_error div h2{
        color: #218bdc;
        font-size: 24px;
        display: block;
        padding: 0 0 14px 0;
        border-bottom: 1px solid #cccccc;
        margin-bottom: 12px;
        font-weight: normal;
    }
    #block_error div h3{
        color: #218bdc;
        font-size: 16px;
        display: block;
        padding: 14px 0 14px 0;
        border-top: 1px solid #cccccc;
        margin-top: 12px;
        font-weight: normal;
    }
    </style>
</head>
<body marginwidth="0" marginheight="0">
    <div id="block_error">
        <?php echo $alert ?>
        <div>
            <h2>Hash Decrypt Page Test</h2>
            <code>
                Encrypted: <?php echo $key ?>
                <br>
                Decrypted: <?php echo $password ?>
            </code>
            <footer>
                <h3><a href="http://bluejacket.io">Blue Framework</a> | Page</h3>
            </footer>
        </div>
    </div>
</body>
</html>